
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Flex' ;
}

.main-bug{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: #f4f9ff;

    .nav {
        background-color: #d3e8ff;
    }

    .body-wrap {
        width: 80%;
        display: flex;
        flex-direction: row;
        padding: 0px 20px;
        margin: 0 auto;
        background-color: #f4f9ff;

        .sidebar {
            flex-grow: 1;
        }

        .buglist {
            flex-basis: 85%;

            .buglist-top {
                display: flex;
                flex-direction: column;
                align-items: left; 
                margin: 20px 0;
                padding: 0 10px;

                .right {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;

                    .search {
                        padding: 5px 20px;
                        border-radius: 10px;
                        border: none;     
                        width: 200px;    
                        font-size: 16px;              
                    }
                }

                .button {
                    padding: 10px 15px;
                    border: none;
                    border-radius: 6px;
                    font-size: 15px; 
                    font-weight: bold;
                    background-color: #5f9afa;
                    cursor: pointer;
                }
            }

            .pop-up {
                position: fixed;
                top: 20%;
                left: 30%;
                height: 50%;
                width:50%;
                z-index: 1;
                background-color: #f2f2f2;
                border: 0.5px solid gray;
                border-radius: 6px ;
                padding: 0 25px;                
                }
        }

            .table-main {
                width: 100%;
                margin: 10px;
                /* border: 1px solid #9CB0C6; */
                border-collapse: collapse;
                text-align: left;
                padding: 0 40px;
    
                tr:hover{
                    background-color: #ffffff;
                }

                th{
                    background-color: #e9f3ff;
                    padding: 12px 10px;
                    font-size: 16px;
                }
                
                td{
                    padding: 10px 0;
                    padding-left: 20px;
                    font-size: 14px;
                    transition: 0.4s;
                }
                td:hover{
                    padding: 15px 0;
                    padding-left: 20px;
                    font-size: 14px;
                }

                .icons {
                    display: flex;
                    gap: 1rem;
                    justify-content: left;
                    border: none;                   

                    .edit-icon {
                        border: none;                        
                        border-radius: 40px;   
                        transition: 0.3s;             
                    }

                    .edit-icon:hover {    
                        cursor: pointer;                         
                    }

                    .delete-icon {
                        border: none;
                        border-radius: 40px;
                        transition: 0.3s;

                        .fa-trash {
                            color: #dc7575;
                        }
                    }

                    .delete-icon:hover {                   
                    cursor: pointer;
                    }

                }
            }
        
    }
}