
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Flex' ;
}

.main-bug{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: #f4f9ff;

    .nav {
        background-color: #d3e8ff;
    }

    .body-wrap {
        width: 80%;
        display: flex;
        flex-direction: row;
        padding: 0px 20px;
        margin: 0 auto;
        background-color: #f4f9ff;

        .sidebar {
            flex-grow: 1;
        }

        .buglist {
            flex-basis: 85%;

            .buglist-top {
                display: flex;
                justify-content: space-between;
                align-items: center;  
                margin: 20px 0;
                padding: 0 10px;

                .right {
                    display: flex;
                    gap:1rem;

                    .search {
                        padding: 5px 20px;
                        border-radius: 10px;
                        border: none;
                        
                    }
                }

                .button {
                    padding: 5px 10px;
                    border: none;
                    border-radius: 6px;
                    font-size: 15px; 
                    font-weight: bold;
                    background-color: #81daf3;
                }
            }

            .pop-up {
                position: fixed;
                top: 20%;
                left: 30%;
                height: 50%;
                width:50%;
                z-index: 1;
                background-color: #f2f2f2;
                border: 0.5px solid gray;
                border-radius: 6px ;
                padding: 0 25px;                
                }
        }

            .table-main {
                width: 95%;
                margin: 10px;
                /* border: 1px solid #9CB0C6; */
                border-collapse: collapse;
                text-align: left;
                padding: 0 40px;
    
                tr:hover{
                    background-color: #ffffff;
                }

                th{
                    background-color: #e9f3ff;
                    padding: 10px 10px;
                    font-size: 16px;
                }
                
                td{
                    /* border: 0.5px solid #9CB0C6; */
                    padding: 5px 10px;
                    font-size: 14px;
                }

                .icons {
                    display: flex;
                    gap: 0.5rem;
                    justify-content: left;
                    border: none;                   

                    .edit-icon {
                        padding: 10px;
                        border: none;
                        background-color: #beb7b7;
                        border-radius: 40px;                        
    
                    }
                    .delete-icon {
                        padding: 10px;
                        border: none;
                        background-color:#fd5c63;
                        border-radius: 40px;
                    }
                }
            }
        
    }
}