*{
    font-family: 'Roboto Flex' ;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 0 10px;



    .body-wrap {
        width: 90%;
        display: flex;
        flex-direction: row;
        padding: 10px 25px;


        .sidebar {
            flex-grow: 1;
        }

        .buglist {
            flex-basis: 80%;
            background-color:#FFFFFF;
            padding: 0 25px;


            .buglist-top {
                display: flex;
                justify-content: space-between;
                padding: 0 10px;
                align-items: center;

               
            }

            
            .table-main {
                width: 80%;
                margin: 10px;
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
    
                .thead{
                    background-color: #A9A9A9;
                }

                .thead, td{
                    border: 1px solid black;
                    padding: 5px 2px;
                }

              
            }
        }
    }
}