.content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: #f4f9ff;
    height: 100vh;
    

    .nav {
        background-color: #b5d7fa;
        width: 100%;
        margin: 0 auto;
    }
}

.main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;

    .sidebar {
        flex-grow: 1;
        height: 50vh;
    }
    
    .chart {
        flex-basis: 100%;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        height: 60vh;

        .bar {
            height: 400px;
            width: 300px;
        }

        .pie {
            height: 300px;
            width: 300px;
        }
    }
}

