.sidebar {
    padding: 10px 0;
    background-color: #f4f9ff;
    height: 95vh;

    .filter {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 20px 0;
        width: 100px;
    }
}

ul{
    list-style-type: none;
}



