.sidebar {
    padding: 10px 20px;
}

ul{
    list-style-type: none;
}
h2{
    margin: 10px;
}

/* #Status {
    width: 100px;
    padding: 10px 5px;
    font-size: 15px;
    background-color:#D3D3D3	 ;
} */