

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 80%;
    text-align: center;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    
}

.all {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.high {
    background-color: #eb8388;
    padding: 20px 60px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.medium {
    background-color: #a9d9ed;
    padding: 20px 60px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.low {
    background-color: #b1efde;
    padding: 20px 60px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}