.add-bug-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 25px;
    background-color: #cfdbee;

    #input {
        width: 100%;
        height: 30px;
        margin: 5px 0;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .required input:after { content:"*"; }
}

.btn {
  display: flex;
  justify-content: end;

  .submit {
    background-color: rgb(84, 84, 204);
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
  }
}
  
h2 {
    margin: 10px 0;
}
label {
    padding: 5px 0;
    font: 1em sans-serif;
    font-weight:lighter;
  }
  
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    .drop {
        width: 100px;
        
    }
}

p {
  color: rgb(241, 75, 75);
}

  