.modal-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #f2f2f2;
  padding: 10px 5px;
  width: 50%;

  .close{
    display:flex;
    justify-content: end;
  }
  
  button{
    border-radius:5px;
    border: 1px solid black;
    width: 25px;
    height: 20px;
}
}